<!DOCTYPE html>
<html>
    <head>
        <title>Upload CSV Files (UTF-8 only)</title>
    </head>
    <body>
        <h1>Upload CSV Files (UTF-8 only)</h1>
        <form method="POST" enctype="multipart/form-data">
            <p>
                <input type="file" name="file1" required>
            </p>
            <p>
                <input type="file" name="file2" required>
            </p>
            <p>
                <input type="submit" value="Upload">
            </p>
        </form>
    </body>
</html>